@page
@model UpdateBulletModel
@{
}
@*Sarah har stået for denne side*@
<head>
    <link href="~/css/site.css" rel="stylesheet"/>
    <link href="~/css/BulletCrud.css" rel="stylesheet"/>
    <link href="~/css/BulletStyle.css" rel="stylesheet"/>
</head>

<div class="section updatebullet">
    <div class="container2 container">
        <h2 class="text-lg-center">Opdater Bullets</h2>
        <form method="post">
            <div class="title form-group">
                <label asp-for="@Model.Title" class="control-label">Title</label><br/>
                <textarea class="textarea-title" asp-for="@Model.Title" placeholder="skriv din title her.."></textarea>
            </div>
            <div class="content form-group">
                <label asp-for="@Model.Content_Bullet" class="control-label">Content</label><br/>
                <textarea class="textarea" asp-for="@Model.Content_Bullet" placeholder="skriv dit content her.."></textarea>
            </div>
            <button type="submit" asp-page-handler="Update" asp-route-id="@Model.Bullet.Id" class="btn-1">Opdater</button><br />
            <button type="submit" asp-page-handler="Cancel" value="Fortryd" class="btn-cancel hover">Fortryd</button>
        </form>
    </div>
</div>