@page
@using ZealandZooLIB.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ZealandZooLIB.Models
@model ZealandZooAPP.Pages.CalenderModel
@{
}

<head>
    <link rel="stylesheet" href="css/calender.css" />
</head>

<section>
    <div class="calendar-date-view">
        <h1 class="">@Model.CalendarService.GetCurrentMonth() - @Model.CalendarService.GetCurrentYear()</h1>
        <form method="post">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-light" asp-page-handler="previousMonth"><<< @Model.CalendarService.GetPreviousMonth()</button>
                    <button class="btn btn-info" asp-page-handler="createEvent">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                        </svg>
                        Opret nyt event
                    </button>
                    <button type="submit" class="btn btn-light" asp-page-handler="nextMonth">@Model.CalendarService.GetNextMonth() >>></button>
                </div>
            </div>
        </form>
        <div class="d-flex flex-wrap p-2">
            @for (var i = 0; i < Model.CalendarService.GetDayNames().Length; i++)
            {
                <div class="text-center px-4 pt-2 dayNameTitle">
                    <p class="">@Model.CalendarService.GetDayNames()[i]</p>
                </div>
            }
        </div>
        <div class="d-flex flex-wrap p-2">
            @for (int i = 0; i < (int)Model.CalendarService.FirstDayInMonth(); i++)
            {
                <div class="text-center px-4 pt-2 calendarbox"></div>
            }
            @foreach (var day in Model.CalendarService.GetDaysInCurrentMonth(Model.Events))
            {
                @if (day.Date.Day % 2 == 0)
                { // Even days
                    @if (day.ZooEvent != null)
                    {
                        if (day.ZooEvent.ImageId > 0)
                        {
                            <div class="text-center px-4 pt-2  calendarbox bg-event-image" style="background-image: url('images/@Model.GetEventImageNameById(day.ZooEvent.ImageId)');">
                                <h3 class="color-white">@day.Date.Day.</h3>

                            <a class="event-link" asp-page="/EventPage" asp-route-id="@day.ZooEvent.Id">@day.ZooEvent.Name</a>

                            </div>
                        }
                        else
                        {
                            <div class="text-center px-4 pt-2  calendarbox bg-light-grey">
                                <h3>@day.Date.Day.</h3>

                                <a class="" asp-page="EventPage" asp-route-id="@day.ZooEvent.Id">@day.ZooEvent.Name</a>

                            </div>
                        }
                    }
                    else
                    {
                        <div class="text-center px-4 pt-2  calendarbox bg-light-grey" >
                            <h3>@day.Date.Day.</h3>
                        </div>
                    }
                }
                else
                { // Uneven days
                    @if (day.ZooEvent != null)
                    {
                        if (day.ZooEvent.ImageId > 0)
                        {
                            <div class="text-center px-4 pt-2  calendarbox bg-event-image" style="background-image: url('images/@Model.GetEventImageNameById(day.ZooEvent.ImageId)');">
                                <h3 class="color-white">@day.Date.Day.</h3>

                                <a class="event-link" asp-page="EventPage" asp-route-id="@day.ZooEvent.Id">@day.ZooEvent.Name</a>
                            </div>
                        }
                        else
                        {
                            <div class="text-center px-4 pt-2  calendarbox bg-medium-grey">
                                <h3>@day.Date.Day.</h3>

                                <a class="" asp-page="EventPage" asp-route-id="@day.ZooEvent.Id">@day.ZooEvent.Name</a>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="text-center px-4 pt-2  calendarbox bg-medium-grey">
                            <h3>@day.Date.Day.</h3>
                        </div> 
                    }
                }
            }
        </div>
    </div>
    <div class="calendar-list-view">
        <div class="list-group list-group-flush overflow-auto h-100">
            @foreach (Event zooEvent in Model.EventService.GetAll())
            {
                @if (@Model.CalendarService.IsNewMonth(CalendarService.GetMonth(zooEvent.DateTo.Month)))
                {
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@CalendarService.GetMonth(zooEvent.DateTo.Month)</h5>
                        </div>
                    </a>
                }
                <a a asp-page="/EventPage" asp-route-id="@zooEvent.Id" class="list-group-item list-group-item-action flex-column align-items-start bg-event-image event-link">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@zooEvent.Name</h5>
                        <small>@zooEvent.DateTo.</small>
                    </div>
                    <p class="mb-1">@zooEvent.Description</p>
                    <small>Pris: @zooEvent.Price ,-</small>
                </a> 
            }
        </div>
    </div>
</section>


