@page
@model ZealandZooAPP.Pages.CreateEventModel
@{
}


<h3> Create New Event</h3>

<div class="row">
    <div class="col-md-6">

        <form method="post" enctype="multipart/form-data">
            
            <input type="file" asp-for="Upload" class="btn" />

            <div class="form-group">
                <label asp-for="@Model.Event.Name" class="form-label">Name</label><br>
                <input asp-for="@Model.Event.Name" class="form-control" /><br>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.Description" class="form-label">Description</label><br>
                <input asp-for="@Model.Event.Description" class="form-control" /><br>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.DateTo" class="form-label">DateTo</label><br>
                <input asp-for="@Model.Event.DateTo" class="form-control" /><br>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.DateFrom" class="form-label">DateFrom</label><br>
                <input asp-for="@Model.Event.DateFrom" class="form-control" /><br>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.MaxGuest" class="form-label">MaxGuest</label><br>
                <input asp-for="@Model.Event.MaxGuest" class="form-control" /><br>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.Price" class="form-label">Price</label><br>
                <input asp-for="@Model.Event.Price" class="form-control" /><br>
            </div>


            <input type="submit" asp-page-handler="event" value="Create" class="btn btn-success" />

        </form>
        
@*        <form method="post" enctype="multipart/form-data">
            <input type="file" asp-for="Upload"  class="btn" />
            <input type="submit" asp-page-handler="image" value="Create" class="btn btn-success" />
        </form>*@

    </div>
</div>



<div>
    <a asp-page="/Calender"> Tibage til calender</a>
</div>