@page
@model ZealandZooAPP.Pages.EventPageModel
@{
}



<head>
    <link rel="stylesheet" href="css/Eventstyle.css" />
</head>


<body>

    <div class="Bg-event">  
            
    

     <h2>  Skal Du med   </h2>


        <div class="EventInfo">
    
           <p>@Model.Event1.Name</p>
           <p>@Model.Event1.Describtion</p>
           <p>@Model.Event1.Price</p>
           <p>@Model.Event1.DateFrom</p>
           <p>@Model.Event1.DateTo</p>

        </div>
      

        </div>
 </body>






