@page
@model ZealandZooAPP.Pages.EventPageModel
@{
}



<head>
    <link rel="stylesheet" href="css/Eventstyle.css" />
</head>


<body>

     <h2>  Skal Du med   </h2>


        <div class="EventInfo">

        <p>@Model.ZooEvent.Name</p>
        <p>@Model.ZooEvent.Describtion</p>
        <p>@Model.ZooEvent.Price</p>
        <p>@Model.ZooEvent.DateFrom</p>
        <p>@Model.ZooEvent.DateTo</p>

        </div>
      
       
 </body>






