@page
@using ZealandZooLIB.Models;
@using ZealandZooLIB.Services;

@model IndexModel

@{
    ViewData["Title"] = "Home page";
    
}

<head>
    <link href="~/css/site.css" rel="stylesheet" />
  



    <style>
        .section {
            width: 50%;
            float: left;
            padding: 20px;
            box-sizing: border-box;
            /*   background-color: #f19f5e;*/
        }

        .calendar {
            background-color: transparent;
            padding-left: 5px;
        }

        .calendar-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-right: 5px;
        }


        .calendar-event-box {
            width: 250px;
            padding: 10px;
            margin: 10px;
            backdrop-filter: blur(5px) saturate(119%);
            -webkit-backdrop-filter: blur(5x) saturate(119%);
            background-color: rgba(245, 115, 10, 0.15);
            border-radius: 20px;
            border: 4px solid rgba(245, 115, 10, 0.35);
            z-index: 1;
           
         
           
            outline: none;
            border: none;
            
            overflow: hidden;
            transition: color 0.4s ease-in-out;
        }

        .calendar-event-box::before{
                content: '';
                z-index: -1;
                position: absolute;
                top: 100%;
                right: 100%;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                background-color: #f5730a;
                transform-origin: center;
                transform: translate3d(50%, -50%, 0) scale3d(1, 0, 0);
                transition: transform 0.45s ease-in-out;
        }
            .calendar-event-box:hover {
               /*/* color: #f5730a;*/
                /*opacity: 1;*/
                font-weight: 900;
                font-size: larger;
                transition: transform 0.50s ease-in-out;
                /*border-image-slice: 1;*/
                cursor: pointer;
                color: #FAEEC8;
            }

            .calendar-event-box:hover::before {
                    transform: translate3d(50%, -50%, 0) scale3d(27, 15, 15);
            }
        .calendar-event-title {
            font-size: 18px;
            letter-spacing: .2rem;
            margin-bottom: 5px;
        }

        .calendar-event-date:before{
            content: '';
            z-index: -1;
            position: absolute;
            top: 100%;
            right: 100%;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            transition: transform 0.45s ease-in-out;
        }


        .calendar-event-date {
            font-size: 14px;
            color: #FFF; 
            margin-bottom: 5px;
        }

        .calendar-event-date:hover::before{
                transform: translate3d(50%, -50%, 0) scale3d(27, 15, 15);
        }

       /* .calendar-event-date:hover{
                color: #FAEEC8;
        }*/



        .calendar-event-description {
            font-size: 14px;
            line-height: 1.4;
        }

        /*.calendar-event-description:hover {
                color: #FAEEC8;
        }*/

        .scroalleble {
            max-height: 200px;
            overflow-y: auto;
        }

        .expand-button {
            height: 50px;
            font-family: Roboto, sans-serif;
            white-space: nowrap;
            overflow: hidden;
            color: aliceblue;
            text-overflow:ellipsis;
            border-style: solid;
            
            
            
        }

      

        

        .card-body {
            height: auto;
            overflow: auto;
            border-radius: 0px;
            background-color: rgba(203, 240, 192, 1);
        }

        .card {
            height: auto;
            overflow: auto;
            border-radius: 25px;
            background-color: rgba(0, 158, 15, 1);
        }


    </style>
</head>

<div class="section">
    
   <h2>Bulletin Board</h2>

   

             
                <div class="row">

                     @foreach (Bullet b in Model.Bullets)
                     {
                        
                         var collapseId = $"collapseContent-{b.Id}";
                         var buttonId = $"expandButton-{b.Id}";
                         <div class="col-md-6 mb-4">
                          <div class="card">
                            <div class="card-header">
                                <h5 class="card-title text-center fontNr px-4 pt-2">@b.Title</h5>
                                <button class="btn expand-button" type="button" data-toggle="collapse" data-target="#@(collapseId)" aria-expanded="false" aria-controls="@(collapseId)" id="@(buttonId)">
                                        Læs indholdet
                                </button>
                            </div>
                            <div id="@(collapseId)" class="collapse">
                        <div class="card-body text-center">
                                 @b.Content_Bullet
                                </div>
                            </div>
                          </div>
                         </div>

                     }
                       
             
                </div>
     
</div>

                @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
        <script>
            $(document).ready(function() {
                $(".expand-button").click(function() {
                    var target = $(this).data("target");
                    $(target).collapse("toggle");
                });
            });

        
        </script>
   

}

<div class="section calendar">
    <h2>Kommende Events</h2>
    <div class="calendar-container">
        @foreach (Event e in Model.Events)
        {
            <div class="calendar-event-box">
                <div class="calendar-event-title">@e.Name</div>
                <div class="calendar-event-date">@e.DateFrom.ToString("MMMM dd, yyyy")</div>

            </div>
        }
    </div>
</div>