@page
@using ZealandZooLIB.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model StoragePageModel
@{
}

@if (User.IsInRole("admin"))
{
   <head>
    <link rel="stylesheet" href="css/StorageStyle.css" />

   </head>

    
        
    


    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-sm-2 d-md-block bg-body-tertiary sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            
                        </li>
                        <li class="nav-item">
                                <form method="get">
                                    <button asp-page="/StorageCRUD/CreateStorageItem" class="btn buttonSide align-text-bottom">Opret Vare</button>
                                </form>
                        </li>
                        
                       
                    </ul>
                </div>
            </nav>


            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	            
                 <h2>Lagerbeholdning</h2>
                 <div class="table-responsive">
                     <table class="table custom-table table-sm">
                         <thead>
                             <tr>
                                 <th scope="col">Navn</th>
                                 <th scope="col">Type</th>
                                 <th scope="col">Pris</th>
                                 <th scope="col">Antal</th>
                             </tr>
                         </thead>

                         <tbody>
                         @foreach (StorageItem s in Model.StorageItems)
                         {
                            <tr scope="row">
                                <td>
                                    @s.Name
                                </td>
                                <td>
                                    @s.Item_Type
                                </td>
                                <td>
                                    @s.Price
                                </td>
                                <td>
                                    @s.Quantity
                                </td>
                                    <td>
                                        <form method="post">
                                            <input type="hidden" name="id" value="@s.Id" />
                                            <div class="input-group mb-3">
                                                <input asp for="@Model.StorageItem?.Quantity" type="number" class="form-control form-control-sm bg-transparent" name="quantity"/>
                                               
                                                    <button type="submit" class="btn btn-outline-success myButton btn-sm text-center" asp-route-save="@TempData["message"]">Opdater antal</button>
                                               
                                            </div>
                                        </form>
                                    </td>
                                        <td>
                                            <form method="get">
                                                <input type="hidden" name="id" value="@s.Id" />
                                                <button asp-page="/StorageCRUD/UpdateStorageItem" class="btn myButton btn-outline-info btn-sm text-center">Ret</button>
                                            </form>
                                        </td>
                                    <td>
                                        <form method="get">
                                            <input type="hidden" name="id" value="@s.Id" />
                                            <button asp-page="/StorageCRUD/DeleteStorageItem" class="btn myButton btn-outline-danger btn-sm text-center">Slet</button>
                                        </form>

                                    </td>
                                    
                            </tr>
                         }
                         </tbody>
                     </table>
                 </div>
            </main>
      </div>
</div>



       


              

@*                <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script><script src="~/js/storage.js"></script>
*@ 

}