@page
@using ZealandZooLIB.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model StoragePageModel
@{
}

@if (User.IsInRole("admin"))
{
    <h1>Varer i lageret</h1>


    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Type
            </th>
            <th>
                Pris
            </th>
            <th>
                Antal
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (StorageItem s in Model.StorageItems)
        {
            <tr>
                <td>
                    @s.Name
                </td>
                <td>
                    @s.Item_Type
                </td>
                <td>
                    @s.Price
                </td>
                <td>
                    @s.Quantity
                </td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="id" value="@s.Id" />
                            <div class="input-group">
                                <input asp for="@Model.StorageItem?.Quantity" type="number" class="form-control" name="quantity"/>
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary text-center" asp-route-save="@TempData["message"]">Opdater antal</button>
                                </div>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form method="get">
                            <input type="hidden" name="id" value="@s.Id" />
                            <button asp-page="/StorageCRUD/DeleteStorageItem" class="btn btn-primary">Slet</button>
                        </form>
                    </td>
                    <td>
                        
                        <form method="get">
                            <input type="hidden" name="id" value="@s.Id" />
                            <button asp-page="/StorageCRUD/UpdateStorageItem" class="btn btn-primary">Ret</button>
                        </form>
                    </td>



            </tr>
        }
        </tbody>
    </table>

    <p></p>
    <p></p>


    <form method="get">
        <button asp-page="/StorageCRUD/CreateStorageItem" class="btn btn-primary">Opret Vare</button>
    </form>
}