@page
@using ZealandZooLIB.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model StoragePageModel
@{
}

@if (User.IsInRole("admin"))
{
    <h1>Varer i lageret</h1>


    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Type
            </th>
            <th>
                Pris
            </th>
            <th>
                Antal
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (StorageItem s in Model.StorageItems)
        {
            <tr>
                <td>
                    @s.Name
                </td>
                <td>
                    @s.Item_Type
                </td>
                <td>
                    @s.Price
                </td>
                <td>
                    @s.Quantity
                </td>
                    <td>
                        <form method="post" asp-page-handler="Update" asp-route-type="@s.Item_Type">
                            <div class="input-group">
                                <input type="number" class="form-control" name="quantity" value="@s.Quantity" />
                                <div class="input-group-append">
                                    <button type="submit" class"btn btn-primary">Opdater antal</button>
                                </div>
                            </div>
                        </form>
                    </td>


            </tr>
        }
        </tbody>
    </table>

    <p></p>
    <p></p>


    <form method="get">
        <button asp-page="/StorageCRUD/CreateStorageItem" class="btn btn-primary">Opret Vare</button>
    </form>
}