@page
@using ZealandZooLIB.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model StoragePageModel
@{
}
@if (User.IsInRole("admin"))
{
    <head>


        <link href="~/css/site.css" rel="stylesheet"/>


    </head>

    @*Bella -->*@
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-sm-2 d-md-block bg-body-tertiary sidebar collapse" style="width: 200px";>
                <div class=" d-flex flex-column flex-shrink-0 p-3">
                    <ul class="nav flex-column align-items-center">
                        <li>
                            <p></p>
                        </li>
                        <li>
                            <p></p>
                        </li>
                        <li class="nav-item ">
                            <form method="get">
                                <button asp-page="/StorageCRUD/CreateStorageItem" class="buttonSideOrange">Opret Vare</button>
                            </form>
                        </li>
                        <li>
                            <p></p>
                        </li>


                    </ul>
                </div>
            </nav>


            <main class="justify-content-center col-md-9 ms-sm-auto col-lg-10 px-md-4 ">

                <img src="https://svgshare.com/i/tcd.svg" width="400" height="100" viewBox="0 0 300 80" title="lager" style="margin-top: 20px;"/>
                <div class="glassCard table-responsive">
                    <table class="table custom-table table-sm">
                        <thead>
                        <tr>
                            <th scope="col">Navn</th>
                            <th scope="col">Type</th>
                            <th class="antal">Pris</th>
                            <th class="antal">Antal</th>
                        </tr>
                        </thead>

                        <tbody>
                        @foreach (StorageItem s in Model.StorageItems)
                        {
                            <tr scope="row">
                                <td>
                                    @s.Name
                                </td>
                                <td>
                                    @s.Item_Type
                                </td>
                                <td class="antal">
                                    @s.Price
                                </td>
                                <td class="antal">
                                    @s.Quantity
                                </td>
                                <td class="cell1 excludeHov">
                                    <form method="post">
                                        <input type="hidden" name="id" value="@s.Id"/>
                                        <div class="input-group mb-3">
                                            <input asp for="@Model.StorageItem?.Quantity" type="number" class="form-control form-control-sm bg-transparent" name="quantity" style="margin-bottom: 30px;"/>

                                            <button type="submit" class="btn buttonGodkend btn-sm text-center" style="margin-bottom: 30px; margin-left: 0px; margin-top: 0px;" asp-route-save="@TempData["message"]">Opdater antal</button>

                                        </div>
                                    </form>
                                </td>
                                <td class="cell2 excludeHov">
                                    <form method="get">
                                        <input type="hidden" name="id" value="@s.Id"/>
                                        <button asp-page="/StorageCRUD/UpdateStorageItem" class="btn buttonBlue btn-sm text-center" style="margin-top: 0px;">Ret</button>
                                    </form>
                                </td>
                                <td class="cell2 exclude">
                                    <form method="get">
                                        <input type="hidden" name="id" value="@s.Id"/>
                                        <button asp-page="/StorageCRUD/DeleteStorageItem" class="btn buttonFortryd  btn-sm text-center" style="margin-top: 0px;">Slet</button>
                                    </form>

                                </td>

                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    @*<--- Bella*@

}