@page
@using ZealandZooLIB.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model StoragePageModel
@{
}

@if (User.IsInRole("admin"))
{
   <head>
    <link rel="stylesheet" href="css/StorageStyle.css" />

   </head>

    
        
    


    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-sm-2 d-md-block bg-body-tertiary sidebar collapse" style="width: 200px";>
                <div class=" d-flex flex-column flex-shrink-0 p-3">
                    <ul class="nav flex-column align-items-center">
                            
                        <li class="nav-item ">
                                <form method="get">
                                    <button asp-page="/StorageCRUD/CreateStorageItem" class="btn buttonSide ">Opret Vare</button>
                                </form>
                        </li>
                        
                       
                    </ul>
                </div>
            </nav>


            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	            
                 <h2>Lagerbeholdning</h2>
                 <div class="table-responsive">
                     <table class="table custom-table table-sm">
                         <thead>
                             <tr>
                                 <th scope="col">Navn</th>
                                 <th scope="col">Type</th>
                                 <th class="antal">Pris</th>
                                 <th class="antal">Antal</th>
                             </tr>
                         </thead>

                         <tbody>
                         @foreach (StorageItem s in Model.StorageItems)
                         {
                            <tr scope="row">
                                <td>
                                    @s.Name
                                </td>
                                <td>
                                    @s.Item_Type
                                </td>
                                <td class="antal">
                                    @s.Price
                                </td>
                                <td class="antal">
                                    @s.Quantity
                                </td>
                                    <td class="cell1 excludeHov">
                                        <form method="post">
                                            <input type="hidden" name="id" value="@s.Id" />
                                            <div class="input-group mb-3">
                                                <input asp for="@Model.StorageItem?.Quantity" type="number" class="form-control form-control-sm bg-transparent" name="quantity"/>
                                               
                                                    <button type="submit" class="btn btn-outline-success myButton btn-sm text-center" asp-route-save="@TempData["message"]">Opdater antal</button>
                                               
                                            </div>
                                        </form>
                                    </td>
                                        <td class="cell2 excludeHov">
                                            <form method="get">
                                                <input type="hidden" name="id" value="@s.Id" />
                                                <button asp-page="/StorageCRUD/UpdateStorageItem" class="btn b myButton btn-outline-info btn-sm text-center">Ret</button>
                                            </form>
                                        </td>
                                    <td class="cell2 exclude">
                                        <form method="get">
                                            <input type="hidden" name="id" value="@s.Id" />
                                            <button asp-page="/StorageCRUD/DeleteStorageItem" class="btn myButton btn-outline-danger btn-sm text-center">Slet</button>
                                        </form>

                                    </td>
                                    
                            </tr>
                         }
                         </tbody>
                     </table>
                 </div>
            </main>
      </div>
</div>



       



}

