@page
@model ZealandZooAPP.Pages.EventCRUD.EventPageModel
@{
}


<head>
    <link rel="stylesheet" href="/css/Eventstyle.css"/>
</head>




<h2>Skal Du med</h2>

<div class="EventInfo">
    <p>@Model.ZooEvent.Name</p>
    <p>@Model.ZooEvent.Description</p>
    <p>@Model.ZooEvent.Price</p>
    <p>@Model.ZooEvent.DateFrom</p>
    <p>@Model.ZooEvent.DateTo</p>
</div>

<hr/>
<form method="post">
    <div class="row g-3 text-center">
        <div class="col-md">
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInputGrid" placeholder="abc@email.com">
                <label for="floatingInputGrid">Din Email:</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <label for="floatingSelectGrid">Antal Deltagere</label>
            </div>
        </div>
        <div class="col-md">
            <button type="submit" class="btn btn-primary" asp-page="SignUp" style="height:100%">Tilmeld Event</button>
        </div>
    </div>
</form>
<hr/>


@if (User.IsInRole("admin"))
{
    <div>
        <a asp-page="DeleteEvent" asp-route-id="@Model.ZooEvent.Id">Delete</a>
    </div>
}
