@page
@using ZealandZooAPP.Pages.StorageCRUD;
@model CreateStorageItemModel
@{
}


@if (User.IsInRole("admin"))

{   <head>
        <link rel="stylesheet" href="~/css/StorageStyle.css" />
    </head>



  <body>


   <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-sm-2 d-md-block bg-body-tertiary sidebar collapse" style="width: 200px" ;>
                    <div class=" d-flex flex-column flex-shrink-0 p-3">
                        <ul class="nav flex-column align-items-center" >

                            <li class="nav-item" >
                                <form method="get">
                                    <button asp-page="/StoragePage" class="btn buttonSideOrange align-text-bottom">Tilbage</button>
                                </form>
                            </li>


                        </ul>
                    </div>
           </nav>




        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">


                    <a href="https://svgshare.com/s/tcm"><img src="https://svgshare.com/i/tcm.svg" width="230" height="60" viewBox="0 0 230 60" title="opretVare" /> </a>
                    


            <div class="table-responsive">
                <table class="table custom-table table table align-content-lg-center">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr scope="row">
                            <form method="post">
                                <td>
                                        <div class="form-group">
                                            <label asp-for="@Model.Name" class="control-label">Navn</label><br />
                                            <input asp-for="@Model.Name" class="form-control bg-transparent" /> <br />
                                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Item_Type" class="control-label">Type</label><br />
                                            <select asp-for="Item_Type" class="form-control bg-transparent">
                                                    @foreach (var it in Model.Item_Types)
                                                    {
                                                    <option value="@it">@it</option>
                                                    }
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="@Model.Price" class="control-label">Pris</label>
                                            <input asp-for="@Model.Price" class="form-control bg-transparent"> <br />
                                            <span asp-validation-for="@Model.Price" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" value="Opret" class="btn  buttonGodkend btn-sm text-center" />
                                            <input type="submit" value="Fortryd" asp-page-handler="Cancel" class="btn buttonFortryd btn-sm text-center" />
                                        </div>                                        

                                </td>
                            </form>
                        </tr>
                    </tbody>

                </table>
            </div>










           @* <div class="row">
                <div class="table-responsive">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="@Model.Name" class="control-label">Navn</label><br/>
                            <input asp-for="@Model.Name" class="form-control"/> <br/>
                        </div>

                        <div class="form-group">
                            <label asp-for="Item_Type" class="control-label">Type</label><br/>
                            <select asp-for="Item_Type" class="form-control">
                                @foreach (var it in Model.Item_Types)
                                {
                                    <option value="@it">@it</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Price" class="control-label">Pris</label>
                            <input asp-for="@Model.Price" class="form-control"> <br/>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Opret"/>
                        </div>

                    </form>
                </div>
            </div>*@
        </main>
    </div>


@*            <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script><script src="~/js/storage.js"></script>
*@  </body>



}