@page
@using ZealandZooAPP.Pages.StorageCRUD;
@model DeleteStorageItemModel
@{
}


@if (User.IsInRole("admin"))
{ 

<head>
    <link rel="stylesheet" href="css/StorageStyle.css" />
</head>


<tbody>





           


</tbody>


    <a href="https://svgshare.com/s/tbh"><img src="https://svgshare.com/i/tbh.svg" width="230" height="60" viewBox="0 0 230 60" title="sletVare" style="margin-top: 20px;" /> </a>


<table class="glassCard table">
    <thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Navn</td>
        <td>@Model.StorageItem.Name</td>
    </tr>
    <tr>
        <td>Type</td>
        <td>@Model.StorageItem.Item_Type</td>
    </tr>
    <tr>
        <td>Pris</td>
        <td>@Model.StorageItem.Price</td>
    </tr>
    </tbody>
</table>

<form method="post">
    <input type="hidden" name="id" value="@Model.StorageItem.Id"/>
    <div class="form-group">
        <input type="submit" value="Slet" asp-page-handler="Delete" asp-route-id="@Model.StorageItem.Id" class="btn buttonGodkend btn-sm text-center" />

        <input type="submit" value="Fortryd" asp-page-handler="Cancel" class="btn buttonFortryd btn-sm text-center" />
    </div>
</form>

}