@page
@model DeleteStorageItemModel
@{
}


@if (User.IsInRole("admin"))
{ 

<head>
    <link rel="stylesheet" href="css/StorageStyle.css" />
</head>


<tbody>


    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-sm-2 d-md-block bg-body-tertiary sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <form method="get">
                                <button asp-page="/StorageCRUD/CreateStorageItem" class="btn buttonSide align-text-bottom">Opret Vare</button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <form method="get">
                                <button asp-page="/StoragePage" class="btn buttonSide align-text-bottom">Lager</button>
                            </form>
                        </li>


                    </ul>
                </div>
            </nav>




           


</tbody>





<table class="table">
    <thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Navn</td>
        <td>@Model.StorageItem.Name</td>
    </tr>
    <tr>
        <td>Type</td>
        <td>@Model.StorageItem.Item_Type</td>
    </tr>
    <tr>
        <td>Pris</td>
        <td>@Model.StorageItem.Price</td>
    </tr>
    </tbody>
</table>

<form method="post">
    <input type="hidden" name="id" value="@Model.StorageItem.Id"/>
    <div class="form-group">
        <input type="submit" value="Slet" asp-page-handler="Delete" asp-route-id="@Model.StorageItem.Id" class="btn btn-outline-success myButton btn-sm text-center" />

        <input type="submit" value="Fortryd" asp-page-handler="Cancel" class="btn myButton btn-outline-danger btn-sm text-center" />
    </div>
</form>

}